<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="/dist/output.css" rel="stylesheet" />
    <link href="../../../assets/css/base.css" rel="stylesheet" />
    <link href="../../../assets/css/main.css" rel="stylesheet" />
    <link href="./LayoutMain.css" rel="stylesheet" />
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css"
    />
  </head>
  <style>
    .header-content__main {
      width: 100%;
      height: 88px;
      border-bottom: 1px solid #54151c;
    }
  </style>
  <body>
    <header>
      <div class="header">
        <div class="header-content__main">
          <div class="header-content__title">
            <nav class="navigation">
              <a href="#!" class="logo">Jobs For Student</a>
          </nav>
          </div>
        </div>
      </div>
    </header>
    <main>
      <div class="container">
        <div class="container-content__main">
          <div id="search">
            <section class="main">
              <div class="container-content__search w-full pt-10 pb-10">
                <div class="search-header">
                  <h4 class="text-white">
                    1000 Công việc tốt nhất cho sinh viên
                  </h4>
                </div>
                <div class="search-content pt-8">
                  <div class="search-content__select">
                    <select
                      name="cars"
                      id="cars"
                      class="rounded text-black pl-5 pr-5 h-[55px] w-[250px]"
                    >
                      <option value="">Tất cả thành phố</option>
                      <option value="HCM">Hồ chí Minh</option>
                      <option value="HN">Hà Nội</option>
                      <option value="DN">Đà Nẵng</option>
                    </select>
                  </div>
                  <div class="search-content__input search-content">
                    <input
                      type="text"
                      class="rounded pl-4 pr-4 w-full"
                      placeholder="Tìm việc làm"
                    />
                  </div>
                  <div
                    class="search-content__btn bg-white flex rounded text-black"
                  >
                    <button class="text-xl flex justify-center items-center">
                      <svg
                        xmlns="http://www.w3.org/2000/svg"
                        height="1em"
                        viewBox="0 0 512 512"
                        class="text-white"
                      >
                        <path
                          fill="#ffffff"
                          d="M416 208c0 45.9-14.9 88.3-40 122.7L502.6 457.4c12.5 12.5 12.5 32.8 0 45.3s-32.8 12.5-45.3 0L330.7 376c-34.4 25.2-76.8 40-122.7 40C93.1 416 0 322.9 0 208S93.1 0 208 0S416 93.1 416 208zM208 352a144 144 0 1 0 0-288 144 144 0 1 0 0 288z"
                        />
                      </svg>
                      <span class="search-btn__text text-white pl-3">
                        Tìm kiếm</span
                      >
                    </button>
                  </div>
                </div>
                <div class="search-content__keyword">
                  <div class="keyword-label">
                    <label>Mọi người đang tìm kiếm:</label>
                  </div>
                  <div class="keyword-content"></div>
                </div>
              </div>
            </section>
            <div class="company-main">
            <section class="main">
              <div class="company-title">
                <h4 for="">Các công ty hàng đầu</h4>
              </div>
              <div class="company-content"></div>
            </section>
          </div>
          </div>
          
        </div>

          <div class="bestjob-main">
            <section class="main">
                <div class="bestjob-content">
                  <div class="bestjob-content__title">
                    <h4>Việc làm tốt nhất</h4>
                  </div>
                  <div class="bestjob-content__info">
                    <div class="swiper">
                      <!-- Additional required wrapper -->
                      <div class="swiper-wrapper">
                        <!-- Slides -->
                        <div class="swiper-slide bestjob-info__content">
                            <div class="bestjob-box">
                              <div class="bestjob-info__job1">
                                
                              </div>
                              <div class="bestjob-info__job">
                                
                              </div>
                              <div class="bestjob-info__job">
                                
                              </div>
                              <div class="bestjob-info__job1">
                                
                              </div>
                              <div class="bestjob-info__job">
                                
                              </div>
                              <div class="bestjob-info__job">
                                
                              </div>
                              
                            </div>
                            
                            <div >
                              
                            </div>
                            <div >
                              
                            </div>
                            <div >
                              
                            </div>
                            <div >
                              
                            </div>
                            <div >
                              
                            </div>

                        </div>
                        <div class="swiper-slide swiper-content text-red">
                            abc

                        </div>
                       <div class="swiper-slide swiper-content">
                            

                        </div>
                        <div class="swiper-slide swiper-content">
                            

                        </div>
                        <div class="swiper-slide swiper-content">
                            

                        </div>
                      </div>
                      <!-- If we need pagination -->
                      <div class="swiper-pagination"></div>
                    
                      <!-- If we need navigation buttons -->
                      <div class="swiper-button-prev"></div>
                      <div class="swiper-button-next"></div>
                    
                      <!-- If we need scrollbar -->
                    
                  </div>
                </div>
            </section>
          </div>


        <section id="career" class="main">
          <div data-aos="fade-down">
            <div class="career-heading" data-aos="fade-up-left">
              <h3>Ngành nghề trọng điểm</h3>
            </div>
            <div class="career-container"></div>
          </div>
        </section>
      </div>
    </main>
    <footer id="footer">
      <div class="footer-content">
        <span>COPYRIGHT ©2022</span>
      </div>
    </footer>
    
    </div>
  </body>
  <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
  <script>
    const swiper = new Swiper(".swiper", {
      // Optional parameters
      direction: "horizontal",
      loop: true,
      clickable: true,

      // If we need pagination
      pagination: {
        el: ".swiper-pagination",
        clickable: true
      },

      // Navigation arrows
      navigation: {
        nextEl: ".swiper-button-next",
        prevEl: ".swiper-button-prev",
      },
      breakpoints: {
        640: {
          slidesPerView: 1,
          spaceBetween: 20,
        },
      },

      // And if we need scrollbar
      scrollbar: {
        el: ".swiper-scrollbar",
      },
    });
    AOS.init({
      duration: 1500,
    });
    const data = [
      {
        id: "01",
        title: "Kinh doanh",
        contents: [
          "1368 Việc Làm",
          "Mức lương trung bình:",
          "4-21 triệu VNĐ/tháng.",
        ],
      },
      {
        id: "02",
        title: "Công nghệ thông tin",
        contents: [
          "836 Việc Làm",
          "Mức lương trung bình:",
          "13.8-50 triệu VNĐ/tháng.",
        ],
      },
      {
        id: "03",
        title: "Kế toán / kiểm toán",
        contents: [
          "675 Việc Làm",
          "Mức lương trung bình:",
          "9-13 triệu VND/tháng",
        ],
      },
      {
        id: "04",
        title: "Ngân hàng",
        contents: [
          "518 việc làm",
          "Mức lương trung bình:",
          "12-20 triệu VND/tháng",
        ],
      },
      {
        id: "05",
        title: "Kiến trúc/Xây dựng",
        contents: [
          "468 Việc Làm",
          "Mức lương trung bình:",
          "10-30 triệu VND/tháng",
        ],
      },
      {
        id: "06",
        title: "Bất động sản",
        contents: [
          "90 việc làm",
          "Mức lương trung bình:",
          "3.5 - 30 triệu VND/tháng",
        ],
      },
    ];

    const elCareer = document.getElementsByClassName("career-container")[0];
    elCareer.innerHTML = data
      .map(
        (process) =>
          `
      <div class="career-box" key="${process.id}">
        <span>${process.id}</span>
        <strong>${process.title}</strong>
        <ul>
          ${process.contents
            .map(
              (content, index) => `
            <li key="${index}">${content}</li>`
            )
            .join(" ")}
        </ul>
       <div class="pt-6">
         <a href="!#" class='btn-link contact-bt'>
          Xem thêm</i>
      </a>
      </div>
      </div>
      `
      )
      .join(" ");

    const listKeyWords = [
      "Kiến trúc sư",
      "React",
      "Bất động sản",
      "Kế toán",
      "Quản trị kinh doanh",
      "Tester",
      "Business Analyst",
    ];

    const elKeyword = document.getElementsByClassName("keyword-content")[0];
    elKeyword.innerHTML = listKeyWords
      .map(
        (keyword) =>
          `
          <div class='keyword-main'>
        <label class="border rounded-full p-1 btn-keyword" >${keyword}</label>
      </div>
    `
      )
      .join(" ");


      const listCompanyTop = [
        {
          img: "https://images.vietnamworks.com/logo/capge_vip_124731.png",
        title: "Capgemini Việt Nam",
        link: "https://www.vietnamworks.com/company/Capgemini",
        },
        {
          img: "https://images.vietnamworks.com/logo/tekex_vip1_101558.png",
        title: "Tek Experts",
        link: "",
        },
        {
          img: "https://images.vietnamworks.com/logo/bacabank_vip1_117492.png",
        title: "Ngân hàng TMCP Bắc Á",
        link: "",
        },
        {
          img: "https://images.vietnamworks.com/logo/chailease_vip_111632.jpg",
        title: "Chailease",
        link: "",
        },
        {
          img: "https://images.vietnamworks.com/logo/cityland_vip_124712.png",
        title: "Tập đoàn Cityland",
        link: "",
        },
        {
          img: "https://images.vietnamworks.com/logo/bidvsumi_vip_123501.jpg",
        title: "BIDV-SuMi Trust",
        link: "",
        }
        
      ]

      const elCompany = document.getElementsByClassName('company-content')[0]

      elCompany.innerHTML = listCompanyTop.map(company => 
      `
      <div class="company-content__box">
        <div class="company-content__img">
          <img src="${company.img}" alt="">
        </div>
      <div class="company-content__title">
          <a>${company.title}</a>
      </div>
      <button class="btn-main company-content__btn">Việc mới</button>
    </div>
      `
      ).join(" ")
  </script>
</html>
